<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "../static/style.css">
  <title>Log In</title>
</head>
  <body class="background">
    <div class="signin">
      <h1>
        <br>
        <br>
        <br>
        <p style="font-family:Script MT">Log in</p>
      </h1>

      <input type="text" class="username" id = "username" name="username" placeholder="Username">
      <br>
      <input type="password" class="password" id = "password" name="password" placeholder="Password">
      <br> 
      <br>
      <button class="login" onclick="login()">Log In</button>
      <br> 
      <br>
      <button class="login" onclick="loadAdmin()">Log In as Admin</button>
      <br> 
      <br>
      <button class="login" onclick="register()">Don't have an Account? Register Now!</button>
    </div>
    <script src="../static/main.js"></script>
  </body>
</html>

