<html>
    <link rel="stylesheet" href= "../static/style.css">
 <head>
    <style>
    </style>
 </head>
 <body class = "entire">
    <div class="row">
        <div class="column left">
            <h2>Home</h2>
            <button class = "out" onclick="loadUser()">Back</button>
        </div>
        <div class="column middle">
            <h2>Column 2</h2>
            <p>Data..</p>
            <input type="text" class="username" id = "picture" placeholder="Picture URL">
            <br>
            <input type="text" class="password" id = "desc" placeholder="Description">
            <br>
            <br>
            <button onclick="CreatePost()">Create Post</button>
        </div>
    </div>
    <script src="../static/main.js"></script>
 </body>
</html>